@font-face{
    font-family:'fontlogo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}
body {
    font-family: Arial, sans-serif;
    background-color:#dddddd;
    color:#000000;
    font-size:12pt;

}
div#interface {
    width: 1200px;
    background-color:white;
    margin:-20px auto 0px auto;
    box-shadow:0px 0px 30px rgba(0,0,0,0.5);
    padding: 10px;
}
header#cabecalho img#iconeoculos{
    position: absolute;
    left: 1100px;
    top: 70px;    
}

header#cabecalho img#iconeespec{
    position: absolute;
    left: 1100px;
    top: 70px;    
}
header#cabecalho img#iconefoto{
    position: absolute;
    left: 1100px;
    top: 70px;
}
header#cabecalho img#iconemulti{
    position: absolute;
    left: 1100px;
    top: 70px;    
}
header#cabecalho img#iconecontato{
    position: absolute;
    left: 1100px;
    top: 70px;
}
header#cabecalho {
    border-bottom:1px #606060 solid;  
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 95px;
}

header#cabecalho h1{
    font-family: 'fontlogo', sans-serif;
    font-size:30pt;
    color:#606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0px;
    margin-top:30px;
    margin-bottom: 0px;
    
}

header#cabecalho h2{
    font-family:Arial, sans-serif;
    font-size:15pt;
    color:#888888;
    padding: 0px;
    margin-top:0px;

}
p {
    text-align: justify;
    text-indent: 50px;
}

a{
    color:#606060;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
figure.picture-legend {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    max-width: 600px;
    max-height: 338px;

}
figure.picture-legend img {
    width: 100%;
    height: 100%;
}
figure.picture-legend figcaption{
    opacity:0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing:border-box;
    transition: 1s;
}
figure.picture-legend:hover figcaption{
    opacity: 1;
}

/*Formatação do Menu*/
nav#menu ul{
    list-style:none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;
}
nav#menu li{
    display:inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background:#606060;
}
/*Para esconder o título menu principal - Que não precisa aparecer no site, mas é importate nas buscas*/
nav#menu h1{
    display: none;
}
nav#menu a{
    color:black;
    text-decoration: none;
}
nav#menu a:hover {
    color:white;
}
section#corpo{
    display: block;
    width: 650px;
    float: left;
    border-right: 1px solid;
    padding: 20px;
}

article#noticiaprincipal h2{
font-size: 13pt;
color: #606060;
background-color: #dddddd;
padding: 5px 0px 5px 10px;
margin: 10px 0px 10px;
}

header#cabecalho-artigo h1{
    font-family:'fontlogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom:0px;
    margin-top:0px;
    
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffff;
    margin:0px;
}

header#cabecalho-artigo h3{
    font-size:12px;
    color: #606060;
}
.direita{
    text-align:right;
}
aside#lateral{
    display:block;
    width: 470px;
    float: right;
    padding-right:15px;
    background-color: #dddddd;
    padding-left: 15px;
    margin-top:10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
aside#lateral h1{
    font-family: 'fontlogo',sans-serif;
    font-size: 20pt;
    color:#606060;

}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffff;
    padding: 5px;

}
footer#rodape{
    clear:both;
    border-top:1px solid;
}
footer#rodape p{
    text-align:center;
}
footer#rodape p span{
    padding-left:50px;
}

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing:0px;
    margin-left:auto;
    margin-right: auto;
    background-color: #dddddd;
}
table#tabelaspec td{
    border: 1px solid #606060;
    padding:10px;
    font-weight: bold;
}
td.coluna{
    background-color:#606060;
    color:white;
    font-weight:bold;
    text-align:right;   
}

td#cam{
    vertical-align:top;
}
td#conectividade{
    vertical-align:top; 
}

table#tabelaspec caption{
    color:#888888;
    font-size:13pt;
    font-weight: bolder;
}
table#tabelaspec caption span{
    display:block;
    float:right;
    color:black;
    font-size:9pt;
    margin-top:8px;
}
video#filme1{
    margin-left:70px;
}
video#filme2{
    margin-left:40px;
}